:root{
    --base-bg: var(--theme-base-bg);
    --base-secondary: var(--theme-base-secondary);
    --base-text: var(--theme-base-text);
    --base-border: var(--theme-base-border);

    --opp-bg: black;
    --opp-text: white;
    --opp-border: black;


    --theme-base-bg: white;
    --theme-base-secondary: gray;
    --theme-base-text: black;
    --theme-base-border: white;

    --theme-1-bg: white;
    --theme-1-secondary: pink;
    --theme-1-text: black;
    --theme-1-border: red;


    --backdrop-filter: 20px;
}

*{
    background-color: inherit;
    color: var(--base-text);
    border-color: var(--base-border);
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
}

body{
    background-color: var(--base-bg);
}

.invert{
    filter:invert(100%)
}

.secondary{
    background-color: var(--base-secondary);
}

.main{
    
    position:fixed;
    top:0;
    left:0;
    width: 200vw;
    height: 200vh;
    z-index: -1;
}

button{
    transition-duration: 0.5s;
}

button:hover {
    filter: invert(100%);
    transition-duration: 0.5s;
}
ul,li{
    padding: 0 0 0 15px;
}
.created_ul_label{
    position:inherit;
    cursor:pointer;
    font-size: 1.2rem;
    font-weight: bold;
    list-style-position: inside;
}

.created_li{
    position:inherit;
    cursor: pointer;
    list-style-position: inside;
}

.list_image{
    list-style-image: url('@/components/img/svg/camera.svg');
}

.list_file{
    list-style-image: url('@/components/img/svg/file.svg')
}

.list_folder{
    list-style-image: url('@/components/img/svg/folder.svg')
}

.avatar{
    border-radius: 50%;
}

.box-shadow{
    box-shadow: 5px 5px 5px 0; 
}
