:root{
    /**
    * For light mode
    */
    --light-bg: white;
    --light-text: black;
    --light-border: black;

    /**
    * For dark mode
    */
    --dark-bg: black;
    --dark-text: white;
    --dark-border: white;

    --header-height: 100px;
}

*{
    transition-duration: 0.5s;
}

.main{
    
    position:fixed;
    top:0;
    left:0;
    width: 200vw;
    height: 200vh;
    z-index: -1;
}

.dark-mode{
    background-color: var(--dark-bg);
    color: var(--dark-text);
}    
.dark-mode-transparent{
    background-color: transparent;
    color: var(--dark-text);
}

button {
    background-color: var(--light-bg);
    color: var(--light-text);
    border-style: solid;
    border-color: var(--light-border);
}

button:hover {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    border-color: var(--dark-border);
}
button.dark-mode{
    background-color: var(--dark-bg);
    color: var(--dark-text);
    border-style: solid;
    border-color: var(--dark-border)
}

button.dark-mode:hover{
    background-color: var(--light-bg);
    color: var(--light-text);
    border-color: var(--light-border)
}

.created_ul_label{
    cursor:pointer;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
}
.created_ul_label:hover{
    background-color: black;
}

.created_li{
    color: black;
    cursor: pointer;
    list-style-position: inside;
}

.list_image{
    list-style-image: url('@/components/svg/camera.svg');
}

.list_file{
    list-style-image: url('@/components/svg/file.svg')
}

.list_folder{
    list-style-image: url('@/components/svg/folder.svg')
}